/* INDEX MOBILE */

#textocarrossel p{
    z-index: 1;
    font-size: 24px;
    color: #fff;
}

.carousel-inner > #textocarrossel {
    position: fixed;
}

#imgcarousel {
    width: 100%;
}

.Artistaindex h1 {
    text-align: center;
    font-size: 35px;
}

#imgartistaindex {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#botaoartista, #botaoservicos {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#botaocssartista {
    border: none;
    background-color: #DF0000;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
}

#botaocssartista span {
    color: #fff;
}


#botaocssservicos {
    border: none;
    background-color: #0044D7;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
}

/* Serviços-Index */
.Servicoindex {
    background-color: #f6f6f6;
}

.Servicoindex h1 {
    margin-top: 68px;
    text-align: center;
    font-size: 35px;
}
    /* INDEX DESKTOP */

@media (min-width: 620px) {
    #textocarrossel p{
        z-index: 1;
        font-size: 64px;
    }

    #textocarrossel {
        margin: 0 auto;
        margin-top: -100px;
    }
}