/* Para todos os elementos */

.mainservicos p {
    font-size: 16px;
    color: #000;
    margin-top: -8px;
  }

/* --------------------------------------------------------------------------------------- */

/* Titulo de Serviços */

.mainservicos h1 {
    margin-top: 44px;
    text-align: center;
    color: #000;
    padding-bottom: 20px;
    font-family: 'Inria Sans', sans-serif;
}

.mainservicos hr {
    border: #000 solid 1px;
    width: 250px;
    margin-top: -40px;
    margin-bottom: 60px;
}

.mainservicos h4 {
    margin-top: -8px;
}

/* --------------------------------------------------------------------------------------- */

/* Area Masculino */

#AreaMasculino {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    border: rgba(0, 0, 0, 0.05) solid 1px;
}

#tituloareamasculino {
    padding-top: 50px;
    font-size: 24px;
}

#divblockservicosmasc1, #divblockservicosmasc2, #divblockservicosmasc3 {
    display: flexbox;
    margin-right: auto;
}

#divblockservicosmasc4, #divblockservicosmasc5, #divblockservicosmasc6 {
    display: flexbox;
    margin-left: auto;
}

#divblockservicosmasc7 {
    margin-bottom: 40px;
}

/* sub - Blocos de display da area masculina */

.displayleft, .displayright {
    display: inline-block;

}

.displayleft {
    padding-right: 200px;
}

/* --------------------------------------------------------------------------------------- */

#divblockservicosmasc1, #divblockservicosmasc2, #divblockservicosmasc3, 
#divblockservicosmasc4, #divblockservicosmasc5, #divblockservicosmasc6, #divblockservicosmasc7 h4 {
    color: #004197;
    font-size: 24px;
}

#displaycenter, #divblockservicosmasc7 {
    align-items: center;
    text-align: center;
    display: flexbox;
    margin-left: 400px;
}

#divblockservicosmasc1, #divblockservicosmasc2, #divblockservicosmasc3, 
#divblockservicosmasc4, #divblockservicosmasc5, #divblockservicosmasc6, #divblockservicosmasc7 {
    background-color: #fff;
    font-family: 'Inria Sans', sans-serif;
    width: 500px;
    border: #fff 1px solid ;
    height: 138px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* --------------------------------------------------------------------------------------- */

/* Area Feminina */

#divblockservicosfeminino1, #divblockservicosfeminino2, #divblockservicosfeminino3 h4 {
    color: #B10000;
    font-size: 24px;
}

#tituloareafeminina h3 {
    padding-top: 50px;
    font-size: 30px;
}

#divblockservicosfeminino1, #divblockservicosfeminino2, #divblockservicosfeminino3 {
    background-color: #fff;
    font-family: 'Inria Sans', sans-serif;
    width: 500px;
    border: #fff 1px solid ;
    border-radius: 10px;
    height: 138px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#displaycenterfeminino {
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 95px;
    margin-bottom: 40px;
}

/* --------------------------------------------------------------------------------------- */

/* Area Feminina e Area Masculina */

#tituloareamasculino, #tituloareafeminina h3 {
    text-align: center;
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    margin-top: 50px;
}

/* --------------------------------------------------------------------------------------- */