/* ------------------------------------------ Modelo Desktop ---------------------------------------------------------- */

/* header */

#header {
    background-color: #fff;
    padding: 0 0 1px ;
}
#header #imgheader {
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-bottom:-30px ;
  }
#logo {
    width: 140px;
    margin-top: 20px;
    
}
#Logoheader {
    text-align: center;
    font-size: 30px;
}

/* --------------------------------------------------------------------------------------- */

.navcss {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inria Serif', serif;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 225px;
    padding-right: 100px;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.336);
    position: sticky;
    overflow: auto;
    
}

#imgnav img {
    float: left;
}

#logonav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulonav h2 {
    color: rgba(255, 255, 255, 0.70);
    margin-top: -10px ;
    margin-bottom: 10px;
    font-size: 1.30em;
}

#menu {
    float: left;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.nav ul li a {
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    color: red;
    transition: .3s;
}

#botaocsslogin {
    border: none;
    color: #000;
    background-color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 25px;
    cursor: pointer;
    font-family: 'Inria Sans', sans-serif;
    font-size: 1em;
}

#buttonlogin {
    list-style: none;
}

#midiasnav img {
   padding: 5px;
   cursor: pointer;
}

/* --------------------------------------------------------------------------------------- */

/* Servicos */

/* Para todos os elementos */

.mainservicos p {
    font-size: 16px;
    color: #000;
    margin-top: -8px;
  }

/* Titulo de Serviços */

.mainservicos h1 {
    margin-top: 44px;
    text-align: center;
    color: #000;
    padding-bottom: 20px;
    font-family: 'Inria Sans', sans-serif;
}

.mainservicos hr {
    border: #000 solid 1px;
    width: 250px;
    margin-top: -40px;
    margin-bottom: 60px;
}

.mainservicos h4 {
    margin-top: -8px;
}

/* Area Masculino */

#AreaMasculino {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    border: rgba(0, 0, 0, 0.05) solid 1px;
}

#tituloareamasculino {
    padding-top: 50px;
    font-size: 24px;
}

#divblockservicosmasc1, #divblockservicosmasc2, #divblockservicosmasc3 {
    display: flexbox;
    margin-right: auto;
}

#divblockservicosmasc4, #divblockservicosmasc5, #divblockservicosmasc6 {
    display: flexbox;
    margin-left: auto;
}

#divblockservicosmasc7 {
    margin-bottom: 40px;
}

/* sub - Blocos de display da area masculina */

.displayleft, .displayright {
    display: inline-block;

}

.displayleft {
    padding-right: 200px;
}

#displaycenter, #divblockservicosmasc7 {
    align-items: center;
    text-align: center;
    display: flexbox;
    margin-left: 400px;
}

/* divs block de cada serviço masculino */

#divblockservicosmasc1, #divblockservicosmasc2, #divblockservicosmasc3, 
#divblockservicosmasc4, #divblockservicosmasc5, #divblockservicosmasc6, #divblockservicosmasc7 h4 {
    color: #004197;
    font-size: 24px;
}

#divblockservicosmasc1, #divblockservicosmasc2, #divblockservicosmasc3, 
#divblockservicosmasc4, #divblockservicosmasc5, #divblockservicosmasc6, #divblockservicosmasc7 {
    background-color: #fff;
    font-family: 'Inria Sans', sans-serif;
    width: 500px;
    border: #fff 1px solid ;
    height: 138px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* Area Feminina */

#divblockservicosfeminino1, #divblockservicosfeminino2, #divblockservicosfeminino3 {
    background-color: #fff;
    font-family: 'Inria Sans', sans-serif;
    width: 500px;
    border: #fff 1px solid ;
    border-radius: 10px;
    height: 138px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    margin-left: 100px;
    margin-top: 90px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#displaycenterfeminino h4 {
    color: #B10000;
    font-size: 24px;
    text-align: center;
}

#displaycenterfeminino {
    align-items: center;
    text-align: center;
    display: flex;
    margin-right: 95px;
    margin-bottom: 40px;
}

/* Area Feminina e Area Masculina */

#tituloareaserv h3 {
    text-align: center;
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    font-size: 32px;
    margin-top: 50px;
}

/* --------------------------------------------------------------------------------------- */

/* Produtos */
#corfundoprod {
    background-color: #f6f6f6;
 }

 .fundoproduto {
    background-color: #f6f6f6;
    padding: 0px 10px 10px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.336);
}

/* Titulo de Produtos */

#fundoproduto h1 {
    font-family: 'Inria Sans', sans-serif;
    text-align: center;
    color: #000;
    margin-bottom: 92px;
    margin-top: 41px;
 }

 #fundoproduto hr {
    border: #000 solid 1px;
    width: 250px;
    margin-top: -80px;
    margin-bottom: 60px;
 }

#divblockconjunto #divblock {
    display: inline-flex;
    margin: 30px 30px;
    margin-bottom: 190px;
}

#divblock {
    background-color: #fff;
    border-radius: 10px;
    width: 310px;
    height: 330px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
    margin-left: 20px;
    margin-bottom: 100px;
}

#imgprod {
    border: solid #fff thin;
    border-radius: 10px;
    width: 187px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
}

/* --------------------------------------------------------------------------------------- */


/* Para todo o footer */

footer {
    background-color: #15151513 !important;
}

footer li {
    font-size: 15px !important;
}

footer h4 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.336);
    text-align: center;
    margin-bottom: -4px;
}

footer li a {
    font-size: 20px !important;
}

/* logo footer */

.logofooter{
    display: inline-block;
    margin-left: 255px;
}

/* sub - imagem do footer */

#imgfooter img {
    float: left;
    padding-bottom: -10px ;
}

#titulofooter {
    color: #000;
    text-align: center;
    margin-left: -20px;
}

#midiasfooter img {
    padding-right: 26px;
    cursor: pointer;
    margin-left: -15px;
 }

/* footerinfo */

#footerinfo {
    display: inline-flex;
    float: right;
    margin-right: 150px;
 }

 #localizacaofooter ul li{
    list-style: none;
    text-align: center;
    margin-left: -60px;
}

#contatofooter ul li {
    list-style: none;
    text-align: center;
    margin-left: -20px;
}

#servicofooter ul {
    list-style: none;
    list-style: none;
    text-align: center;
    margin-left: -20px;
}

#linksrapido ul li a{
    text-decoration: none;
    color:#000
}

#linksrapido ul li {
    list-style: none;
    padding: 0;
}

footer hr {
    width: 188px;
    border: 1px solid #000;
}

/* --------------------------------------------------------------------------------------- */