                                                    /* ESTILOS GERAIS    */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inria Sans', sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------ */

                                                    /* INDEX_HOME MOBILE */

      /* estilizacao sobre o artista */
      .Artistaindex h1 {
        text-align: center;
        font-size: 6vh;
        padding: 60px;
      }
  
      .Carrossel {
        margin: 7px;
      }
  
      /* imagem do artista */
      #imgartistaindex {
        display: flex;
        justify-content: center;
      }
  
      /* Botao sobre e serviços */
      #botaoartista, #botaoservicos {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        padding-bottom: 100px;
      }
  
      #botaocssartista, #botaocssservicos {
        border: none;
        border-radius: 10px;
        padding: 15px 40px;
        text-align: center;
        color: #fff;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
  
      #botaocssartista {
        background-color: #DF0000;
      }
  
      #botaocssservicos {
        background-color: #0044D7;
      }
  
      /* Animação ao passar o mouse */
      #botaocssartista:hover, #botaocssservicos:hover {
        transform: scale(1.1);
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.4);
      }
      /* fecha Botao sobre e serviços */
       
      /* Serviços-Index */
      .Servicoindex {
        background-color: #e8e8e8;
        padding-top: 50px;
        margin-top: 10px;
      }
  
      .Servicoindex h1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 40px;
      }
  
      /* Serviços em linha */
      .servicos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-left: 3%;
        margin-right: 3%;
      }
  
      .servico-item, .servico-item_feme {
        flex: 1;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
  
      .servico-item_feme h4 {
        color:  #DF0000;
        font-size: 1.5rem;
      }
  
      .servico-item h4 {
        font-size: 1.5rem;
        color:  #0044D7;
        margin-bottom: 10px;
      }
  
      .servico-item p {
        font-size: 1.7vh;
      }
  
      .servico-item_feme p {
        font-size: 1.7vh;
      }
      /* fecha Serviços-Index */
  
      @media (max-width: 1368px) {
        .servicos-container {
          flex-direction: column;
        }
  
      .servico-item p {
        font-size: 2vh;
      }
  
       .servico-item_feme p {
        font-size: 2vh;
      }
  
      .servico-item, .servico-item_feme {
        width: 460px;   
      }
    }

/* ------------------------------------------------------------------------------------------------------------------ */

                                                    /* SERVIÇOS MOBILE */

#tituloservico h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.AreaMasculina, .AreaFeminina {
    background-color: #f6f6f6;
    padding: 0 10px;
}

.AreaMasculina {
    padding-top: 40px;
}

.AreaFeminina {
    width: auto;
    height: 790px;
    padding-top: 40px;
}
.AreaMasculina h2 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #00000090;
}
.AreaFeminina h2 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #00000090;
}

#divblockserv {
    margin: 0 auto 29px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
    padding: 20px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#textoservicomasculino h4 {
    margin-top: 28px;
    text-align: center;
    font-size: 20px;
    color: #004197;
}

#textoservicofeminino h4 {
    margin-top: 28px;
    text-align: center;
    font-size: 20px;
    color: #DF0000;
}

#textoservicomasculino p, #textoservicofeminino p {
    color: #000;
    text-align: center;
    font-size: 16px;
}

/* SERVIÇOS DESKTOP */

@media (min-width: 1268px) {
    #tituloservico h1 {
        margin-top: 25px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
     }

     #tituloservico hr {
        border: #000 solid 1px;
        width: 25%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
    #divblockserv {
        margin: 0 auto 29px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
        padding: 20px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
    }

    .AreaMasculina {
        display: block;
    }

    .divblock-desloc1 {
        margin-left: 150px;
        display: block;
        float: left;
    }

    .divblock-desloc2 {

        display: block;
        float: right
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */

                                                    /* PRODUTOS MOBILE */

#titleprod h1 {
    display: block;
    margin: 0 auto;
    font-family: 'Inria Sans', sans-serif;
    text-align: center;
    color: #000;
}

#col {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.336);
    width: 380px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#imgprod img {
    display: block;
    border: solid #fff thin;
    border-radius: 10px;
    max-width: 150px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}   

#textoprodutos {
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
   
}

#imgprod #textoprodutos {
    display: block;
}

/* REMOVER O SCROLL HORIZONTAL */
::-webkit-scrollbar {
    display: none;
}

#titleprod hr {
    border: #000 solid 1px;
    width: 25%;
    margin: auto;
    margin-bottom: 73px;
}

/* PRODUTOS DESKTOP */

@media (min-width: 620px) {

    #titleprod h1 {
        display: block;
        margin: 0 auto;
        font-family: 'Inria Sans', sans-serif;
        text-align: center;
        color: #000;
    }

    #col {
        display: inline-flex;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.336);
        padding: 20px;
        width: 480px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #textoprodutos {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
        padding-top: 140px;
    }

    #imgprod img {
        display: block;
        border: solid #fff thin;
        border-radius: 10px;
        margin-top: 22px;
        margin-bottom: 22px;
        max-width: 205px;
        height: auto;
    }

    #imgprod #textoprodutos {
        display: block;
    }

    /* REMOVER O SCROLL HORIZONTAL */
    ::-webkit-scrollbar {
        display: none;
    }

    #titleprod hr {
        border: #000 solid 1px;
        width: 25%;
        margin: auto;
        margin-bottom: 73px;
    }

}

/* ------------------------------------------------------------------------------------------------------------------ */

                                                    /* SOBRE MOBILE */

