* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 800px;
    height: 400px;
    display: flex;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.left-panel {
    background-color: #000;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}
.left-panel{
    border-radius: 8px 0px 0px 8px;
}
.right-panel{
    border-radius: 0px 8px 8px 0px;
}
.left-panel img {
    width: 120px;
}

.left-panel h1 {
    font-size: 29px;
    margin-top: -12px;
    font-family: 'Inria Serif', serif;
}

.right-panel {
    background-color: #000;
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.right-panel h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.right-panel form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-panel label {
    align-self: flex-start;
    margin-bottom: 5px;
}

.right-panel input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.right-panel button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.right-panel button:hover {
    background-color: #ccc;
}

.img_icons {
    margin-top: 20px;
}

.img_icons a {
    margin: 0 10px;
}

.img_icons img {
    width: 40px;
}

/* Barra vertical */
.divider {
    width: 3px;
    background-color: #fff;
    margin: 0 ;
}